{{#if this.showToggle}}
  <div class="only-lz-toggle-wrap">
    <DButton
      @class={{this.buttonClass}}
      @icon={{this.buttonIcon}}
      @translatedLabel={{this.buttonLabel}}
      @action={{this.toggleFilter}}
    />
  </div>
{{/if}}
